@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUriHelper uriHelper

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-outline-primary ml-md-auto">
            @name
        </button>
    </div>




    <div class="content px-4">
        @Body
    </div>
</div>

@functions{
    [Parameter]
    private string name { get; set; }


    protected async override void OnInit()
    {
        name = await localStorage.GetItemAsync<string>("email");
    }


}
